.calculator {
    height: 320px; /*Altura*/
    width: 235px; /*Largura*/
    border-radius: 5px; /* Raio da Borda */
    overflow: hidden; /*Escondido*/
    display: grid;
    grid-template-columns: repeat(4, 25%); /*4 colunas cada uma ocupando 25%*/
    grid-template-rows: 1fr 48px 48px 48px 48px 48px; /*48 px para cada linha de botão e uma para o display*/

}
