@font-face{
  font-family: 'RobotoMono';
  src:url('./fontes/RobotoMono-Thin.ttf')
}

*{
  font-family: 'RobotoMono', monospace;
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: linear-gradient(to right, rgb(95, 44, 130), rgb(73, 160, 157));
}